.login-div {
    max-width: 430px;
    padding: 35px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.logo {
    background-image: url("../img/logo2.png");
    width:128.5px;
    height:128.5px;
    border-radius: 30%;
    margin:0 auto;
}