@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box:hover {
    cursor: pointer;
}

.box {
    width: 90%;
    height: 160px;
    margin: 10px;
    border-radius: 10px;
}

.dayTxt p {
    font-family: 'Poppins';
    margin-left: 10px;
    font-size: 29px;
    margin-top: 10px;
}

.box.mon {
    background-image: none;
    background-color: #81e3e0;
}

.box.tues {
    background-image: none;
    background-color: #cfe06c;
}

.box.wed {
    background-image: none;
    background-color: #de9999;
}

.box.thurs {
    background-image: none;
    background-color: #5dcf77;
}

.box.fri {
    background-image: none;
    background-color: #39e4ed;
}

.box.sat {
    background-image: none;
    background-color: #5299a8;
}

.box.sun {
    background-image: none;
    background-color: #91b53e;
}

.box.addTask{
    background-image: none;
    background-color: #84c2fc;
}

@media screen and (max-width:9998px) {
    .box {
        width: 90%;
        height: 160px;
    }

    .dayTxt p {
        font-family: 'Poppins';
        margin-left: 10px;
        font-size: 29px;
        margin-top: 10px;
    }
}

@media screen and (max-width:960px) {
    .box.mon {
        background-image: url(../img/monday2.jpg);
    }
    
    .box.tues {
        background-image: url(../img/tuesday2.jpg);
    }
    
    .box.wed {
        background-image: url(../img/wednesday2.jpg);
    }
    
    .box.thurs {
        background-image: url(../img/thursday2.jpg);
    }
    
    .box.fri {
        background-image: url(../img/friday2.jpg);
    }
    
    .box.sat {
        background-image: url(../img/saturday2.jpg);
    }
    
    .box.sun {
        background-image: url(../img/sunday2.jpg);
    }
}