@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.button-logout {
    background-color: #803dd8;
    font-family: 'poppins', 'roboto';
    color: #ffffff;
    border-radius: 10%;
    margin-top: 12.3px;
    margin-left: 15px;
}

.button-refresh {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.inputDiv {
	display: flex;
	justify-content: center;
    align-items: center;
}

.input {
    padding: 0.5rem 1rem;
    outline: none;
    border: #ffffffb7;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
    border: 1px solid #ddd;
}

.add {
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover {
	opacity: 0.6;
}

.list {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poopins', 'roboto';
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: #ffffff;
    width: 350px;
}

.list ul {
    position: relative;
    padding: 20px;
}

.list ul li {
    position: relative;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.list ul li:last-child {
    border-bottom: none;
}

.list ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ul li label input {
    visibility: hidden;
    appearance: none;
}

.list ul li label p {
    position: absolute;
}

.list ul li label span {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list ul li label span:before {
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    transform: rotate(-40deg);
}

.list ul li label input:checked ~ p{
    text-decoration: line-through;
    color: #cccccc;
}

.list ul li label input:checked ~ span {
    background: #03a9f4;
    border: 1px solid #03a9f4;
}

.list ul li label input:checked ~ span::before {
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.list ul li label span button {
    margin-right: 90px;
    height: auto;
    width: auto;
}

.timeTxt {
    margin-left: 100px;
    margin-bottom: 50px;
    text-decoration: none !important;
    color: #969494 !important;
}

.noTaskIcon {
    margin-left: 50%;
    zoom: 2;
    color: #bbbbbb;
}

.noTaskText {
    display: flex;
    justify-content: center;
}

.noTasks {
    margin-top: 40px;
}